cms/Service References/ServiceReference1/Client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Client" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62364/Service/Client.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62364/Service/Client.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/cms.Service" />
      <xsd:import schemaLocation="http://localhost:62364/Service/Client.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClient_GetGridpage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGridpage" />
  </wsdl:message>
  <wsdl:message name="IClient_GetGridpage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGridpageResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetGridpage_MyApplicationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/cms.Service" name="detail" element="q1:MyApplicationFault" />
  </wsdl:message>
  <wsdl:message name="IClient_GetGridpageJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGridpageJson" />
  </wsdl:message>
  <wsdl:message name="IClient_GetGridpageJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGridpageJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_GetGridpageJson_MyApplicationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/cms.Service" name="detail" element="q2:MyApplicationFault" />
  </wsdl:message>
  <wsdl:message name="IClient_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IClient_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_Ok_InputMessage">
    <wsdl:part name="parameters" element="tns:Ok" />
  </wsdl:message>
  <wsdl:message name="IClient_Ok_OutputMessage">
    <wsdl:part name="parameters" element="tns:OkResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_Fail_InputMessage">
    <wsdl:part name="parameters" element="tns:Fail" />
  </wsdl:message>
  <wsdl:message name="IClient_Fail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FailResponse" />
  </wsdl:message>
  <wsdl:portType name="IClient">
    <wsdl:operation name="GetGridpage">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetGridpage" message="tns:IClient_GetGridpage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetGridpageResponse" message="tns:IClient_GetGridpage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClient/GetGridpageMyApplicationFaultFault" name="MyApplicationFaultFault" message="tns:IClient_GetGridpage_MyApplicationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGridpageJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/GetGridpageJson" message="tns:IClient_GetGridpageJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/GetGridpageJsonResponse" message="tns:IClient_GetGridpageJson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClient/GetGridpageJsonMyApplicationFaultFault" name="MyApplicationFaultFault" message="tns:IClient_GetGridpageJson_MyApplicationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Echo" message="tns:IClient_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/EchoResponse" message="tns:IClient_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ok">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Ok" message="tns:IClient_Ok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/OkResponse" message="tns:IClient_Ok_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/Fail" message="tns:IClient_Fail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/FailResponse" message="tns:IClient_Fail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Client" />
</wsdl:definitions>